name: Test contracts

env:
  CI: true
  FORCE_COLOR: true

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "contracts/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - run: npm i --frozen-lockfile
      - run: npm run compile
      - name: Test contracts
        run: npm run test

